@layer utilities {
	.small-caps {
		font-variant-caps: small-caps;
	}

	/*
 * Visually hidden but accessible to screen readers.
 * Use for labels that provide context to assistive technology.
 */
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}

	/* Hide children beyond the max */
	.max-1 > :nth-child(n + 2) {
		display: none;
	}
	.max-2 > :nth-child(n + 3) {
		display: none;
	}
	.max-3 > :nth-child(n + 4) {
		display: none;
	}
	.max-4 > :nth-child(n + 5) {
		display: none;
	}
	.max-5 > :nth-child(n + 6) {
		display: none;
	}
	.max-6 > :nth-child(n + 7) {
		display: none;
	}
	.max-7 > :nth-child(n + 8) {
		display: none;
	}
	.max-8 > :nth-child(n + 9) {
		display: none;
	}
	.max-9 > :nth-child(n + 10) {
		display: none;
	}
	.max-10 > :nth-child(n + 11) {
		display: none;
	}
	.max-11 > :nth-child(n + 12) {
		display: none;
	}
	.max-12 > :nth-child(n + 13) {
		display: none;
	}
	.max-13 > :nth-child(n + 14) {
		display: none;
	}
	.max-14 > :nth-child(n + 15) {
		display: none;
	}
	.max-15 > :nth-child(n + 16) {
		display: none;
	}
	.max-16 > :nth-child(n + 17) {
		display: none;
	}
} /* @layer utilities */
